VITE_FIREBASE_API_KEY=AIzaSyBLwtxk0A8dN-vlL97Lrkjzfg_lm0YBQMQ
VITE_FIREBASE_AUTH_DOMAIN=vampire-s-dream.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://vampire-s-dream-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=vampire-s-dream
VITE_FIREBASE_STORAGE_BUCKET=vampire-s-dream.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=756289952800
VITE_FIREBASE_APP_ID=1:756289952800:web:3f53f28f9eab4cbd5f7045
VITE_FIREBASE_VAPID_KEY=BJdxQwdKjbn2TDyCHWHAfA1iqDAa7T1EpJ1YkU0pkYCQQBtcE_o-6M8uK3JyU07iyYoZodP2-2Ha7VRXR8YgQE4
